<div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size:15px; line-height: 1.5rem;
    white-space: nowrap; color: #d4e1f3; margin-bottom: 16px;">

    <div
        style="background: #2d3c4c; padding: 16px; border-bottom: 1px solid #3f5063;">

        <div style="text-align: center; margin-bottom: 16px;">
            <h2 style="margin:0 0 16px 0; font-size: 18px; font-weight: bold; color: #bed1c2;">%NAME%</h2>
            <div>%DESCRIPTION%</div>
            <div>%ADDRESS%</div>
            <div>%PHONE-NUMBER%</div>
        </div>

        <table style="width:100%;font-size:15px;color: #d4e1f3">
            <tr>
                <td style="font-weight: normal; text-align: left; padding: 3px; vertical-align:top;">
                    <strong style="font-weight: 600;">CASHIER:</strong> %CASHIER%
                </td>
                <td style="font-weight: normal; padding:3px;">
                    <div style="float:right;">
                        <div><strong style="font-weight: 600;">DATE:</strong> %DATE%</div>
                        <div><strong style="font-weight: 600;">TIME:</strong> %TIME%</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div style="background: #2b3744; padding: 16px; border-bottom: 1px solid #4c6279;">
        <table style="width: 100%; font-size: 15px; color: #d4e1f3; line-height: 24px;">
            <tr>
                <th style="font-weight: 600; text-align: center; padding: 3px; color: #bed1c2;">QTY</th>
                <th style="font-weight: 600; text-align: left; padding: 3px; color: #bed1c2;">NAME</th>
                <th style="font-weight: 600; text-align: right; padding: 3px; color: #bed1c2;">PRICE</th>
                <th style="font-weight: 600; text-align: right; padding: 3px; color: #bed1c2;">TOTAL</th>
            </tr>
            %ITEM%
        </table>
    </div>


    <div style="background: #354556; padding: 16px;">
        <table style="width:100%; font-size: 15px; color: #d4e1f3">
            <tr>
                <td style="text-align: left; padding: 3px; color: #bed1c2;">
                    <strong style="font-weight:600;">SUBTOTAL:</strong>
                </td>
                <td style="text-align: right; padding: 3px;">%SUBTOTAL%</td>
            </tr>
            <tr>
                <td style="text-align: left; padding: 3px;color: #bed1c2;">
                    <strong style="font-weight:600;">DISCOUNTS:</strong>
                </td>
                <td style="text-align: right; padding: 3px;">%DISCOUNTS%</td>
            </tr>
            <tr>
                <td style="text-align: left; padding: 3px;color: #bed1c2;">
                    <strong style="font-weight:600;">TOTAL:</strong>
                </td>
                <td style="text-align: right; padding: 3px;">%TOTAL%</td>
            </tr>
        </table>
    </div>
</div>