<div class="card receipt-card border-0 shadow" xmlns:th="http://www.thymeleaf.org">

    <!--/*@thymesVar id="receipt" type="ru.clevertec.checksystem.core.entity.receipt.Receipt"*/-->

    <div class="card-body">

        <h6 class="card-title text-center mb-3" th:text="${receipt.getName()}"></h6>
        <div class="card-subtitle fw-light fs-6 text-muted text-center mb-3">
            <div th:text="${receipt.getDescription()}"></div>
            <div th:text="${receipt.getAddress()}"></div>
            <div th:text="${receipt.getPhoneNumber()}"></div>
        </div>
        <div class="card-subtitle fw-bold text-muted mb-3">
            <div class="row g-4">
                <div class="col" th:text="${'КАССИР ' + receipt.getCashier()}"></div>
                <div class="col-auto">
                    <div th:text="${'ДАТА: ' + #dates.format(receipt.getDate(), 'dd.MM.yyyy')}"></div>
                    <div th:text="${'ВРЕМЯ: ' + #dates.format(receipt.getDate(), 'hh:mm')}"></div>
                </div>
            </div>
        </div>
        <div class="overflow-auto">
            <table class="table table-striped">
                <thead>
                <tr class="text-muted">
                    <th scope="col" class="border-bottom">КОЛИЧЕСТВО</th>
                    <th scope="col" class="border-bottom">НАЗВАНИЕ</th>
                    <th scope="col" class="border-bottom text-end">ЦЕНА</th>
                    <th scope="col" class="border-bottom"></th>
                    <th scope="col" class="border-bottom text-end">ВСЕГО</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="receiptItem: ${receipt.getReceiptItems()}">
                    <td class="text-center">
                        <strong class="text-muted" th:text="${receiptItem.getQuantity()}"></strong>
                    </td>
                    <td th:text="${receiptItem.getProduct().getName()}"></td>
                    <td class="text-end">
                        <strong class="text-muted" th:text="${'$' + receiptItem.getProduct().getPrice()}"></strong>
                    </td>
                    <td class="text-end">
                        <span th:if="${!receiptItem.getDiscounts().isEmpty()}"
                              th:text="${'-$' + receiptItem.discountsAmount()}"
                              class="badge bg-secondary text-white"></span>
                    </td>
                    <td class="text-end">
                        <strong class="text-success" th:text="${receiptItem.totalAmount()}"></strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div class="d-flex justify-content-between">
            <b class="text-muted">ПРОМЕЖУТОЧНЫЙ ИТОГ:</b>
            <strong class="text-success" th:text="${'$' + receipt.subTotalAmount()}"></strong>
        </div>
        <div class="d-flex justify-content-between">
            <b class="text-muted">СКИДКИ:</b>
            <strong class="text-success" th:text="${'$' + receipt.discountsAmount()}"></strong>
        </div>
        <div class="d-flex justify-content-between">
            <b class="text-muted">ИТОГ:</b>
            <strong class="text-success" th:text="${'$' + receipt.totalAmount()}"></strong>
        </div>
    </div>
    <div class="card-footer">
        <div class="form-check d-flex justify-content-end align-items-center">
            <label class="form-check-label text-muted" th:for="${'receiptItem' + receipt.getId()}"
                   th:text="${'ЧЕК #' + receipt.getId()}">
            </label>
            <input class="form-check-input ms-2 mt-0" type="checkbox"
                   name="checkId" th:value="${receipt.getId()}" th:id="${'receiptItem' + receipt.getId()}">
        </div>
    </div>
</div>
