<div class="receipt-toolbar text-muted bg-white px-4 py-2 rounded shadow mb-4" xmlns:th="http://www.thymeleaf.org">
    <div class="row gy-2 gx-4 d-flex align-items-center">
        <div class="col">
            <div class="row g-4 d-flex align-items-center flex-nowrap">
                <div class="col-auto border-end">
                    <div th:replace="/partial/toolbar/overall-checkbox"></div>
                </div>
                <div class="col-auto border-end">
                    <span>выбрано:</span> <span id="checkedCount"></span>
                </div>
                <div class="col col-md-auto d-flex justify-content-end">
                    <div th:replace="/partial/toolbar/download-dropdown"></div>
                </div>
                <div class="col col-md-auto d-flex justify-content-end">
                    <div th:replace="/partial/toolbar/email-modal"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md border-end border-"
             th:if="${#request.getParameter('source') != null && #request.getParameter('source').equals('file')}">
            <div th:replace="/partial/toolbar/choose-file-form"></div>
        </div>
        <div class="col col-md-auto">
            <div class="row g-4 d-flex align-items-center flex-nowrap">
                <div class="col-auto border-end">
                    <!--/*@thymesVar id="receipts" type="java.util.Collection"*/-->
                    <span th:text="${'Всего: ' + receipts.size()}"></span>
                </div>
                <div class="col d-flex justify-content-end">
                    <div th:replace="/partial/toolbar/source-select"></div>
                </div>
            </div>
        </div>
    </div>
</div>
