<nav class="navbar navbar-expand navbar-dark header shadow shadow-sm mb-4" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand me-auto" href="#">checksystem</a>

            <ul th:if="${session.authentication.isAuthenticated()}" class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/authentication/logout}">Выйти</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
