* {
    outline: none;
}

body {
    background: #dfe3e6;
    background: linear-gradient(66deg, rgb(229 196 234) 0%, rgb(217 226 204) 50%, rgb(226 238 249) 100%);
}

.header {
    background-color: #3a3e42;
}

.check-card, .check-card table {
    font-size: 0.75rem;
}

.check-toolbar, .check-toolbar button {
    text-transform: uppercase;
    font-size: 0.75rem;
}

.form-check {
    min-height: auto !important;
}
