<form class="d-flex m-0" method="post" enctype="multipart/form-data" xmlns:th="http://www.thymeleaf.org"
      th:action="@{files/upload}">
    <input id="chooseFileInput" name="checksFile" class="form-control form-control-sm" type="file"
           accept="application/json, application/xml" aria-label="chooseFileInput">
    <input type="hidden" name="returnUrl" th:value="${'/?source=file'}">
    <button id="fileUploadButton" type="submit" class="btn btn-sm btn-outline-secondary ms-2">Отправить</button>
</form>
