<div xmlns:th="http://www.thymeleaf.org">
    <button id="downloadButton"
            class="btn btn-sm small text-muted text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" role="button" aria-expanded="false">
        Сохранить
    </button>
    <ul class="dropdown-menu"
        th:with="formatType=${T(ru.clevertec.checksystem.core.io.FormatType)}">
        <li><h6 class="dropdown-header">Печать</h6></li>
        <li>
            <button class="dropdown-item" name="download" th:value="${formatType.PDF_PRINT.toString()}">&nbsp;-&nbsp;PDF
            </button>
        </li>
        <li>
            <button class="dropdown-item" name="download" th:value="${formatType.HTML_PRINT.toString()}">&nbsp;-&nbsp;HTML
            </button>
        </li>
        <li>
            <button class="dropdown-item" name="download" th:value="${formatType.TEXT_PRINT.toString()}">&nbsp;-&nbsp;TEXT
            </button>
        </li>
        <li><h6 class="dropdown-header">Структура</h6></li>
        <li>
            <button class="dropdown-item" name="download" th:value="${formatType.JSON_STRUCTURE.toString()}">&nbsp;-&nbsp;JSON</button>
        </li>
        <li>
            <button class="dropdown-item" name="download" th:value="${formatType.XML_STRUCTURE.toString()}">
                &nbsp;-&nbsp;XML
            </button>
        </li>
    </ul>

</div>
